apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app
  labels:
    app: backend-app
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: backend-app
  template:
    metadata:
      labels:
        app: backend-app
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "backend-role"
        vault.hashicorp.com/agent-inject-secret-config: "kv/backend/config"
        vault.hashicorp.com/agent-inject-template-config: |
          DB_USER={{ "{{ .Data.data.DB_USER }}" }}
          DB_PASSWORD={{ "{{ .Data.data.DB_PASSWORD }}" }}
          API_KEY={{ "{{ .Data.data.API_KEY }}" }}
    spec:
      serviceAccountName: backend-sa
      containers:
        - name: backend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 8080

