apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: backend-app-allow-ingress
  namespace: backend
spec:
  podSelector:
    matchLabels:
      app: backend-app
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              role: ingress
      ports:
        - protocol: TCP
          port: 80
  egress:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
      ports:
        - protocol: TCP
          port: 443
